h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: blue;
    font-size: 500%;
}

.logo {
    background-image: url(img/profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
